.composition {
  position: relative;
  background-color: $color-grey-dark;

  &__photo {
    width: 55%;
    box-shadow: 0px 1.5px 5rem rgba($color-black, 0.4);
    position: absolute;
    transition: all 0.2s;
    background-color: $color-grey-dark;
    outline-offset: 1rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 1;
      outline: 1rem solid $color-primary-dark;
      box-shadow: 0px 2.5px 5rem rgba($color-black, 0.5);
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
